/*
	Template: Leopard
	Author: Adrian Lampart
	URL: http://themeforest.net/user/yeroo
	COLOR STYLES
*/


/* ACCENT COLOR */
.pageColor, a:hover, nav#primary-nav ul li a:hover, nav#primary-nav ul li:hover > a, .flexslider h1, .flexslider h2, .flexslider h3, .flexslider h4, .flexslider h5, .flexslider h6, .txtbg a:hover, #welcome, #pageTitle h2, .goTo a, #latestBlogPosts a, .postInfo a:hover, .postTitle h4 a, .commentReply a:hover, #footerBottom a:hover, .tweet_time a:hover, #sidebar .tweet_time a:hover, .tweet a:hover, .catWidget li a:hover, .blogWidget a:hover {
	color: rgba(216,197,51,1) !important; 	
}

.but-col, .title-icon i, .txtbg h1, .txtbg h2, .txtbg h3, .txtbg h4, .txtbg h5, .txtbg h6, .portfolioSingle .nivo-controlNav a.active, .portfolioSingle .nivo-controlNav a:hover, .pricingPremium h2, .pricingPremium .pricingSelect:hover h5, .portfolioItem .pItemName, .nivo-directionNav a {
	background-color: rgba(216,197,51,1) !important; 	
}

/* OPACITY COLORS */
.postDate {
	color: rgba(216,197,51,0.6) !important; /* 60% opacity */
}

.pricingPremium h4, .pricingPremium h5, .worksWidget li .overlay {
	background-color: rgba(216,197,51,0.8) !important; 	/* 80% opacity */	
}


/* DARKER COLOR */	
.portfolioItem .overlay em, #latestBlogPosts a:hover, .postTitle h4 a:hover, .goTo a:hover, .worksWidget .overlay em {
	color: rgba(138,125,33,1) !important;
}	

.but-col:hover, .nivo-prevNav:hover, .nivo-nextNav:hover {
	background-color: rgba(138,125,33,1) !important;
}

/* FIX */
.txtbg h1, .txtbg h2, .txtbg h3, .txtbg h4, .txtbg h5, .txtbg h6 { color: #fff !important }