{% extends ajax_partials|yesno:"holiday_manager/tabbed_page_ajax.html,holiday_manager/tabbed_page_widgets.html" %}

{% block tabtitle %}<i class="icon-user"></i> Edit your profile{% endblock %}

{% block subtabnav %}
    {% include 'partials/edit_profile_nav.html' %}
{% endblock %}

{% block tabcontent %}
    
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </form>
    
{% endblock %}