{% extends request.is_ajax|yesno:"holiday_manager/tabbed_page_ajax.html,holiday_manager/tabbed_page.html" %}

{% block tabtitle %}<i class="icon-user"></i> Edit your profile{% endblock %}

{% block subtabnav %}
    {% include 'partials/edit_profile_nav.html' %}
{% endblock %}

{% block tabcontent %}
    
    <h4 class="title titleLineBottom">Your credit cards <small>Here's the list of your credit cards associated with your account</small></h4>
    {% if cards %}
        {% for card in cards %}
            <div>
                {{ card.card_holder }} - {{ card.card_type }} - {{ card.last4 }}
                <form action="{% url app:invites:remove_card card_id=card.id project=curr_project %}" method="post" style="display: inline-block">{% csrf_token %}<button type="submit" class="btn">Remove</button></form>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any linked credit card at the moment.</p>
    {% endif %}
    
    <h4 class="title titleLineBottom">Add a credit card <small>Enter the detail of your credit card to make payments</small></h4>
    
    <form id="payment-form" action="#" method="POST">{% csrf_token %}
        <div class="form-row"><label>Credit card number</label>
          <input class="card-number" type="text" size="20" /></div>
        
        <div class="form-row"><label>CVC</label>
          <input class="card-cvc" type="text" size="4" /></div>
        
        <div class="form-row"><label>Name</label>
          <input class="card-holdername" type="text" size="4" /></div>
        
        <div class="form-row"><label>Expiry date (MM/YYYY)</label>
          <input class="card-expiry-month" type="text" size="2" />
          <span></span>
          <input class="card-expiry-year" type="text" size="4" /></div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://bridge.paymill.com"></script>
    <script type="text/javascript">
        var PAYMILL_PUBLIC_KEY = '{{ django_settings.PAYMILL_PUBLIC_TEST_KEY }}';
        
        function PaymillResponseHandler(error, result) {
            if (error) {
              // Shows the error above the form
              console.log(error);
              $(".payment-errors").text(error.apierror);
              $(".submit-button").removeAttr("disabled");
            } else {
              var form = $("#payment-form");
              // Output token
              var token = result.token;
              // Insert token into form in order to submit to server
              form.append("<input type='hidden' name='paymillToken' value='" + token + "'/>");
              form.get(0).submit();
            }
        }
        
        
        $("#payment-form").submit(function(event) {
          // Deactivate submit button to avoid further clicks
          $('.submit-button').attr("disabled", "disabled");
          paymill.createToken({
            number: $('.card-number').val(),          //required
            exp_month: $('.card-expiry-month').val(), //required
            exp_year: $('.card-expiry-year').val(),   //required
            cvc: $('.card-cvc').val(),                //optional
            cardholdername: $('.card-holdername').val()   //optional
          }, PaymillResponseHandler);                 //this function is described below
      
          return false;
        });
        
    </script>
{% endblock %}