{% extends 'holiday_manager/base_page.html' %}
{% load webdesign %}

{% block header %}
    <!--<header class="page-head row">-->
    <!--    <div class="span10">-->
    <!--        <h4 class="title title-icon title-icon-small"><i class="icon-user"></i> Edit user</h4>-->
    <!--    </div>-->
    <!--</header>-->
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="span8">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-user"></i>
                    <h3 class="">Edit user profile</h3>
                </div>
                <div class="widget-content">
                    <form action="" method="post" class="">{% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="span4">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-user"></i>
                    <h3 class="">Help</h3>
                </div>
                <div class="widget-content">
                    {% lorem 2 p random %}
                </div>
            </div>
            
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-user"></i>
                    <h3 class="">Help</h3>
                </div>
                <div class="widget-content">
                    <button class="btn btn-danger">Delete this user</button>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}