{% extends 'login_base.html' %}

{% block loginheader %}
    {% if validlink %}
        <h2>Create a new password<small> so that you can login again.</small></h2>
    {% else %}
        <h2>Password reset link expired<small>But don't worry...</small></h2>
    {% endif %}
{% endblock %}

{% block logincontent %}
    {% if validlink %}
        <form action="" method="post" class="default-login">{% csrf_token %}
            {{ form.project }}
            <div class="form-errors">
                {{ form.non_field_errors }}    
            </div>
            <div class="form-row">
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="form-row">
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Set the new password</button>
            </div>
        </form>
        <div class="google-login">
            <p class="lightColor">
                Insert your new password and type it again just to confirm it.
            </p>
        </div>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
        <p>
            <a href="{% url app:invites:password_reset curr_project %}" class="btn btn-primary">I forgot my password</a>
            <a href="{% url app:invites:login curr_project %}" class="btn">I want to login</a>
        </p>
    {% endif %}
{% endblock %}