{% extends 'login_base.html' %}

{% block loginheader %}
    <h2>Forgot your password?<small> No problem, create a new one.</small></h2>
{% endblock %}

{% block logincontent %}
    <form action="" method="post" class="default-login">{% csrf_token %}
        {{ form.project }}
        <div class="form-errors">
            {{ form.non_field_errors }}    
        </div>
        <div class="form-row">
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Send me the email</button>
            <a href="{% url app:invites:login curr_project %}" class="btn">Go back</a>
        </div>
    </form>
    <div class="google-login">
        <p class="lightColor">
            Insert your email address. You will receive an email with instruction
            on how to change your password to a new one.
        </p>
    </div>
{% endblock %}