{% extends 'holiday_manager/base_modal.html' %}

{% block modal_title %}Invite a new member{% endblock %}

{% block modal_body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-invite" data-toggle="tab">Invite by email</a></li>
        <li><a href="#tab-gmail" data-toggle="tab" data-ajax="{% url app:invites:import_contacts curr_project %}">Import your GMail contacts</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-invite">
            {{ form.non_field_errors }}
            <form action="{% url app:invites:invite curr_project %}" method="post" class="form-inline invite-form">{% csrf_token %}
                <div class="form-column-container">
                    <div class="form-column">
                        {% with field=form.email %}
                            {% include 'bootstrap_form.html' %}
                        {% endwith %}
                        {% with field=form.first_name %}
                            {% include 'bootstrap_form.html' %}
                        {% endwith %}
                        {% with field=form.last_name %}
                            {% include 'bootstrap_form.html' %}
                        {% endwith %}
                    </div>
                    <div class="form-column">
                        {% with field=form.approval_group %}
                            {% include 'bootstrap_form.html' %}
                        {% endwith %}
                        {% with field=form.days_off_left %}
                            {% include 'bootstrap_form.html' %}
                        {% endwith %}
                    </div>    
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary send-invite">Send invite</button>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab-gmail">
            loading contacts...
        </div>
    </div>
{% endblock %}