{% load thumbnail %}

<div class="team-row loaded" data-target="{{ team.pk }}">
    {{ team }} <i class="icon-chevron-down"></i>
</div>
<div id="users-group-{{ team.pk }}">
{% for author, _ in members %}
    <div class="user-row" id="user-side-{{ author.pk }}" data-user-id="{{ author.pk }}">
        <a href="{% url app:user_detail project=curr_project pk=author.pk %}" class="user-details">
            <img src="http://flickholdr.com/50/50/{{ forloop.counter }}">
            {{ author }}
        </a>
        <span class="check"></span>
    </div>
{% endfor %}
</div>