{% load misc %}
{% load thumbnail %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="#" class="brand">Project name</a>
        <div class="nav-collapse collapse">
        <div class="navbar-text pull-right">
            {% if user.is_authenticated %}
                <div class="user-badge">
                    <img src="{% thumbnail user.google_pic|default:'profiles/missing_pic.gif' 50x50 %}">
                    {{ user }}
                </div>
                 - <a class="navbar-link" href="{% url invites:logout %}">logout</a>
            {% else %}  
                <a class="btn" href="{% url invites:login %}">Login</a>
            {% endif %}
        </div>
          <ul class="nav">
            <li class="active"><a href="{% url home %}">Home</a></li>
            {% if user.is_staff %}
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Users <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url user-list %}">User list</a></li>
                      <li><a href="{% url invites:invite %}">Invite user</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if user.is_approver %}
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Requests <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url request-list kind='pending' %}">List</a></li>
                      <li><a href="{% url weekly-requests %}">By week</a></li>
                      <li><a href="{% url approvalrequest-list %}">To be approved</a></li>
                    </ul>
                </li>
                <li><a href="{% url group-list %}">Groups</a></li>
            {% endif %}
            <li><a href="{% url add-request %}">Submit request</a></li>
            <li><a href="{% url user-request-list kind='all' %}">Your requests</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>