{% load misc %}
{% load thumbnail %}

<div class="navbar navbar-inversea navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="#" class="brand">{{ curr_project.name }}</a>
        <div class="nav-collapse collapse">
            
          {% if user.is_authenticated %}
          <ul class="nav" id="topnav">
            <li class="{% topnav_active 'dashboard' %}"><a href="{% url app:dashboard curr_project %}"><i class="icon-home"></i> Home</a></li>
            <li class="divider-vertical"></li>
            <li class="{% topnav_active 'users' %}">
                <a href="{% url app:user_list curr_project %}"><i class="icon-group"></i> People</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="{% topnav_active 'requests' %}">
                <a href="{% url app:holiday_weekly curr_project %}"><i class="icon-inbox"></i> Holidays calendar</a>
            </li>
            
            {% comment %}
            <li class="divider-vertical"></li>
            <li><a href="{% url app:holiday_submit curr_project %}">Submit request</a></li>
            {% endcomment %}
            
            {% if user.is_superuser %}
                <li class="divider-vertical"></li>
                <li class="{% topnav_active 'settings' %}">
                    <a href="{% url app:project_settings project=curr_project %}"><i class="icon-cog"></i> Settings</a>
                </li>
            {% endif %}
            
            {% if user.is_approver or user.is_superuser %}
                <li class="divider-vertical"></li>
                <li>
                    <a href="{% url app:approval_list curr_project %}">
                        Notifications
                        {% if user.pending_approvals %}
                            <span class="badge badge-warning">{{ user.pending_approvals }}</span>
                        {% else %}
                            <span class="badge">0</span>
                        {% endif %}
                    </a>
                    <div class="popover fade bottom in" style="top: 33px; left: 481.667px; display: none;"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title">Popover on bottom</h3><div class="popover-content"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p></div></div></div>
                </li>
            {% endif %}
          </ul>
        {% endif %}
            
            {% if user.is_authenticated %}
            <div class="user-menu pull-right dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    {% comment %}
                    <img class="user-pic" src="{% thumbnail user.google_pic|default:'profiles/missing_pic.gif' 40x40 %}">
                    {% endcomment %}
                    <span class="username">{{ user }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url app:invites:edit_profile curr_project %}" class="ajax"><i class="icon-user"></i> Edit your profile</a></li>
                  <li><a href="{% url app:holiday_user_requests project=curr_project kind='all' %}">Your requests</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url app:invites:logout curr_project %}"><i class="icon-off"></i> Logout</a></li>
                </ul>
            </div>
            {% endif %}
          
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>