{% extends 'holiday_manager/base.html' %}

{% block content %}

<h3>Manage requests</h3>

<ul class="nav nav-tabs">
    <li class="{% if kind == 'pending' %}active{% endif %}">
        <a href="{% url request-list kind='pending' %}">Pending</a>
    </li>
    <li class="{% if kind == 'approved' %}active{% endif %}">
        <a href="{% url request-list kind='approved' %}">Approved</a>
    </li>
    <li class="{% if kind == 'rejected' %}active{% endif %}">
        <a href="{% url request-list kind='rejected' %}">Rejected</a>
    </li>
    <li class="{% if kind == 'archived' %}active{% endif %}">
        <a href="{% url request-list kind='archived' %}">Archived</a>
    </li>
</ul>

<table class="table table-striped">
    <tr>
        <th>Requested by</th>
        <th>Requested on</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>{{ object.author }}</td>
            <td>{{ object.requested_on }}</td>
            <td>{{ object.start_date }}</td>
            <td>{{ object.end_date }}</td>
            <td>{{ object.status }}</td>
            <td><a href="{% url request-edit pk=object.pk %}" class="btn">Edit</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}