{% extends ajax_partials|yesno:"holiday_manager/tabbed_page_ajax.html,holiday_manager/tabbed_page.html" %}

{% block tabheader %}
    <h3 class="">Holiday requests</h3>
    <nav>
        <ul>
            <li>
                <div class="btn-group">
                    <a class="btn tab-link {% if active_view == 'holidayrequestweek' %}active{% endif %}" href="{% url app:holiday_weekly project=curr_project %}">
                        <i class="icon-calendar"></i> Calendar view
                    </a>
                    <a class="btn tab-link {% if active_view == 'holidayrequestlist' %}active{% endif %}" href="{% url app:holiday_list project=curr_project %}">
                        <i class="icon-list-alt"></i> List view
                    </a>
                </div>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block widgetclass %}holiday-calendar{% endblock %}

{% block tabcontent %}
    
<form class="filter form-inline" method="get" action="">
    {{ filterform.from_date }}
    {{ filterform.end_date }}
    <button type="submit" class="btn">Filter</button>
</form>
    
<table class="table table-striped">
    <tr>
        <th>Requested by</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th>Requested on</th>
        <th></th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>
                <img src="http://flickholdr.com/30/30/{{ object.pk }}"> {{ object.author }}
            </td>
            <td>{{ object.start_date }}</td>
            <td>{{ object.end_date }}</td>
            <td>{{ object.status }}</td>
            <td>{{ object.requested_on }}</td>
            <td><a href="{% url app:holiday_edit project=curr_project pk=object.pk %}" class="btn">Edit</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
{% endblock %}

{% block extra_js %}
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script>
        $("#id_from_date").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $("#id_end_date").datepicker( "option", "minDate", selectedDate );
            }
        });
        $("#id_end_date").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $("#id_from_date").datepicker( "option", "maxDate", selectedDate );
            }
        });
        
    </script>
{% endblock %}