{% extends ajax_partials|yesno:"holiday_manager/tabbed_page_ajax.html,holiday_manager/tabbed_page.html" %}
{% load misc %}
{% load thumbnail %}
{% load webdesign %}

{% block tabheader %}
    <i class="icon-inbox"></i>
    <h3 class="">Holiday requests</h3>
{% endblock %}

{% block subtabnav %}
    <!--{% include 'holiday_manager/elements/holiday_requests_tabs.html' %}-->
{% endblock %}

{% block widgetclass %}holiday-calendar{% endblock %}

{% block tabheadernav %}
    {% include 'holiday_manager/elements/holiday_requests_header.html' %}
{% endblock %}

{% block tabcontent %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn" id="toggle-compact">Compact</button>
        </div>
        <div class="btn-group">
            <button class="btn" id="filter-users">Filter</button>
            <button class="btn" id="filter-clear">Clear</button>
        </div>
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn">All</button>
            <button type="button" class="btn">Pending</button>
            <button type="button" class="btn">Approved</button>
            <button type="button" class="btn">Rejected</button>
        </div>
    </div>
    
    <div class="cf calendar-wrap compact">
        <div class="user-rows">
            <div class="shade"></div>
            <div class="user-row current-user">
                <img src="{% thumbnail request.user.google_pic|default:'profiles/missing_pic.gif' 40x40 %}">
                {{ request.user }}
            </div>
            {% for team, members in object_list %}
                    <div class="team-row" data-target="{{ team.pk }}">
                        {{ team }} <i class="icon-chevron-down"></i>
                    </div>
                    <div id="users-group-{{ team.pk }}">
                    {% for author, _ in members %}
                        <div class="user-row" id="user-side-{{ author.pk }}" data-user-id="{{ author.pk }}">
                            <img src="{% thumbnail author.google_pic|default:'profiles/missing_pic.gif' 40x40 %}">
                            {{ author }} 
                        </div>
                    {% endfor %}
                    </div>
            {% endfor %}
        </div>
        <div class="scroll-wrap">
            <div class="shade"></div>
            <div class="table-scroll">
                <table class="table holiday_week">
                    <tr>
                        {% for day in week_days %}
                            <th class="cal-day">
                                <span class="date-month">{{ day|date:"N" }}</span>
                                <span class="date-day">
                                    {{ day|date:"D j" }}
                                </span>
                            </th>
                        {% endfor %}
                    </tr>
                    <tr class="user-row current-user">
                        {% in_date_range user_requests week_days %}
                    </tr>
                    
                    {% for team, members in object_list %}
                        <tr class="team-row">
                            {% for day in week_days %}
                                <td class="day"></td>
                            {% endfor %}    
                        </tr>
                        <tbody id="days-group-{{ team.pk }}">
                            {% for author, requests in members %}
                                <tr class="user-row" id="user-{{ author.pk }}" data-user-id="{{ author.pk }}">
                                    {% in_date_range requests week_days %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
                    <div class="popover bottom" id="submit">
                        <div class="arrow"></div>
                        <div class="popover-content">
                          <a class="btn btn-success">Submit request</a>
                          <a class="btn">Cancel</a>
                        </div>
                    </div>
                    <div class="popover bottom" id="request-data">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <a class="btn">Edit</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
    <ul class="pager">
        <li class="previous">
            <a class="tab-link" href="{% url app:holiday_weekly project=curr_project kind=list_kind %}?start={{ prev }}">&larr; Prev week</a>
        </li>
        <li class="next">
            <a class="tab-link" href="{% url app:holiday_weekly project=curr_project kind=list_kind %}?start={{ next }}">Next week &rarr;</a>
        </li>
    </ul>
    
    <div id="sample1-dialog" style="display: none">
        <h1>Simple alert</h1>
        <p>
            It is always beneficial to acknowledge alerts of any kind.
            You can close this alert if you agree. 
            (Note: Normally a dialog box is not that penetrating)
        </p>
        <div class="form-actions">
            <button class="btn-primary close-dialog">Understood</button>
            <button class="btn-danger" onclick="alert('You might reconsider your click behaviour!')">I don't care</button>
        </div>
    </div>
    
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}dialog2/jquery.dialog2.js"></script>
    <script>
        $.fn.scrollTo = function( target, options, callback ){
            if(typeof options == 'function' && arguments.length == 2){ callback = options; options = target; }
            var settings = $.extend({
              direction: 'vertical',
              scrollTarget  : target,
              offsetTop     : 50,
              duration      : 500,
              easing        : 'swing'
            }, options);
            return this.each(function(){
              var scrollPane = $(this);
              if (typeof settings.scrollTarget == "number") {
                var scrollTarget = settings.scrollTarget;
              } else {
                var scrollTarget = $(settings.scrollTarget, scrollPane);
                if (!scrollTarget.length) {
                    return;
                  }
              }
              if (settings.direction == 'vertical') {
                var scrollY = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().top + scrollPane.scrollTop() - parseInt(settings.offsetTop);
                scrollPane.animate({scrollTop : scrollY }, parseInt(settings.duration), settings.easing, function(){
                    if (typeof callback == 'function') { callback.call(this); }
                  });
              } else {
                scrollPane.scrollLeft(0);
                var scrollX = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().left - 500;
                scrollPane.scrollLeft(scrollX);
                //scrollPane.animate({scrollLeft : scrollX }, parseInt(settings.duration), settings.easing, function(){
                //    if (typeof callback == 'function') { callback.call(this); }
                //});
              }
            });
        }
        
        $('.table-scroll').scrollTo('.today', {direction: 'horizontal'});
        
        $("#submit a").click(function(event) {
            event.preventDefault();
            window.dialog2 = $('<div/>').dialog2({
                title: "Submit request", 
                content: '{% url app:check_request curr_project %}', 
                id: "server-notice",
                ajax: {
                    data: {
                        start_date: $('.highlighted').first().data('date'),
                        end_date: $('.highlighted').last().data('date')
                    }
                }
            });
            $('#submit').hide();
        });
        
        $('body').on("dialog2.closed", function() {
            clear_selection();
        });
        
        $('.user-rows .user-row').click(function(e) {
            $(this).toggleClass('selected');
        });
        
        $('#toggle-compact').click(function(e) {
            e.preventDefault();
            $('.calendar-wrap').toggleClass('compact');
        });
        
        $('#filter-users').click(function(e) {
            e.preventDefault();
            var self = $(this);
            $('.user-row').hide();
            $('.user-rows .user-row.selected').each(function() {
                $(this).show();
                $('#user-' + $(this).data('user-id')).show();
            });
        });
        
        $('#filter-clear').click(function(e) {
            e.preventDefault();
            $('.user-row').show();
            $('.select-user:checked').attr('checked', false);
        });
        
        $('.holiday_week').on('hover', 'tr', function() {
            $(this).toggleClass('hover');
            $('#user-side-' + $(this).data('user-id')).toggleClass('hover');
        });
        
        $('.user-rows .team-row').click(function(e) {
            e.preventDefault();
            var group_id = $(this).data('target');
            $('#users-group-' + group_id).toggle();
            $('#days-group-' + group_id).toggle();
        });
        
        function clear_selection() {
            $('.table-scroll .current-user .highlighted').removeClass("highlighted selection-first selection-last");
            $('#submit').hide();
        }
        
        var start, end;
        var selecting, selected = false;
        
        
        var show_popup = function(selected_tds) {
            if (!selected_tds.length) {
                return;
            }
            var scroll_offset = $('.table-scroll').scrollLeft();
            var top = selected_tds.first().position().top + 24;
            var hl_first_pos = selected_tds.first().position().left + scroll_offset;
            var hl_last_pos = selected_tds.last().position().left + scroll_offset;
            var left_pos = hl_first_pos + (hl_last_pos - hl_first_pos - $('#request-data').outerWidth() + selected_tds.first().outerWidth()) / 2;
            $('#request-data').css({
                top: top,
                left: left_pos
            }).show();
        }
        
        var find_selection = function(td) {
            // TODO: use native js to improve performances
            if (td.hasClass('first')) {
                var selection = td.nextUntil('.last +').add(td);
            } else {
                var first = td.prevUntil('.first');
                if (first.length) {
                    var selection = first.prev().add(td.nextUntil('.last +')).add(td);
                } else {
                    var selection = td.prev().add(td.nextUntil('.last +')).add(td);
                }
            }
            return selection;
        }
        
        $(".table-scroll").on('click', '.request', function() {
            var self = $(this);
            show_popup(find_selection(self));
        });
        
        $(".table-scroll").on({
            click: function(e) {
                if (!selecting) {
                    if (selected) {
                        selected = false;
                        selecting = false;
                        return clear_selection();
                    }
                    start = $(this);
                    $('.highlighted').removeClass('highlighted selection-first selection-last');
                    start.addClass('highlighted selection-first selection-last');
                } else {
                    end = $(this);
                    var selected_tds = $('.current-user .highlighted');
                    if (!selected_tds.length) {
                        return;
                    }
                    selected = true;
                    var scroll_offset = $('.table-scroll').scrollLeft();
                    var top = selected_tds.first().position().top + 35;
                    var hl_first_pos = selected_tds.first().position().left + scroll_offset;
                    var hl_last_pos = selected_tds.last().position().left + scroll_offset;
                    var left_pos = hl_first_pos + (hl_last_pos - hl_first_pos - $('#submit').outerWidth() + selected_tds.first().outerWidth()) / 2;
                    $('#submit').css({
                        top: top,
                        left: left_pos
                    }).show();
                }
                selecting = !selecting;
            },
            mouseenter: function(e) {
                if (!selecting) {
                    return;
                }
                var self = $(this);
                is_selected = self.hasClass("highlighted");
                if (is_selected) {
                    $('.selection-last').removeClass('selection-last');
                    self.addClass('selection-last');
                    $('.selection-last').nextAll('.highlighted').removeClass('highlighted');
                } else {
                    $('.selection-last').removeClass('selection-last');
                    self.toggleClass('highlighted selection-last');
                    $('.selection-first').nextUntil('.selection-last').removeClass('selection-last').addClass('highlighted');
                }
            }
        }, '.current-user td');
        
        $(document).click(function(e) {
            if (!$(e.target).is('.table-scroll td, #submit a')) {
                if ($(e.target).has('.modal')) {
                    return;
                }
                clear_selection();
            }
        });
        
    </script>
{% endblock %}