{% extends 'holiday_manager/base.html' %}

{% block header %}
    <header class="page-head row">
        <div class="span7">
            <h4 class="title title-icon icon-small"><i class="icon-group"></i> Add user group</h4>
        </div>
    </header>
{% endblock %}

{% block content %}
    
    <p class="intro well well-small">
        You can arrange your staff memebers into groups. For each group, you can specify different holidays approval rules.
    </p>
    
    <form action="" method="post" id="ruleform" class="form-horizontal narrow">{% csrf_token %}
        <h4 class="title titleLineBottom">Main data</h4>
        {% for field in form %}
            {% include 'bootstrap_form.html' %}
        {% endfor %}
        
        <h4 class="title titleLineBottom">Approval rules</h4>
        {{ formset.non_form_errors }}
        <div class="row">
            <div class="span8 sortable-formset-container">
                <ul id="rule-formset" class="sortable-formset myform">
                    {% for ruleform in formset %}
                        <li>
                            <span class="position">{{ forloop.counter }}</span>
                            <span class="handle"></span>
                            {{ ruleform.errors }}
                            {{ ruleform.id }}
                            {{ ruleform.approver }}
                            {{ ruleform.order }}
                            {{ ruleform.DELETE }}
                            Delete
                        </li>
                    {% endfor %}
                </ul>
                
                <div id="empty-form-template" style="display: none;">
                    <li>
                        <span class="position"></span>
                        <span class="handle"></span>
                        {{ empty_form.id }}
                        {{ empty_form.approver }}
                        {{ empty_form.order }}
                        {{ empty_form.DELETE }}
                        Remove
                    </li>
                </div>
                
                <a class="add-form btn btn" href="#"><i class="icon-plus"></i> Add another rule</a>
                {{ formset.management_form }}
            </div>
            <div class="span4 form-help">
                <p>
                    <h4 class="thin"><i class="icon-question-sign"></i> Drag and drop your approval rules.</h4>
                    <p>You can rearrange the order of the approvers from top (first approver to be notified) to bottom (last one).</p>
                    <p>If you live the approver field blank, the rule will be ignored.</p>
                </p>
            </div>
            <div class="span12">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn">Cancel</button>
                </div>    
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select2/select2.css">
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script>
        $(".sortable-formset .select2").select2();
        $(".sortable-formset").sortable({
            update: function(e, ui) {
                var position = 1;
                $('.sortable-formset li').each(function() {
                    var $li = $(this);
                    if ($('select', $li).val() && !$(':checkbox', $li).is(':checked')) {
                        $('.position', $li).text(position);
                        position++;    
                    }
                });
            }
        });
        
        $('.sortable-formset > li').formset({
            prefix: '{{ formset.prefix }}',
            formTemplate: $('#empty-form-template'),
            fieldsetContainer: '.sortable-formset',
            beforeRender: function(row, form_count) {
                $(".select2", row).select2();
                $(".position", row).text(form_count + 1);
                return row;
            }
        });
        
        $('#ruleform').submit(function(e) {
            e.preventDefault();
            var self = this;
            var position = 0;
            $('.sortable-formset li', this).each(function() {
                var $li = $(this);
                if ($('select', $li).val() && !$(':checkbox', $li).is(':checked')) {
                    $('.order', $li).val(position);
                    position++;    
                }
            });
            self.submit();
        });
    </script>
{% endblock %}