{% extends 'holiday_manager/base.html' %}

{% block content %}

<p>
    <a class="btn btn-success" href="{% url app:group_add curr_project %}">Add +</a>
</p>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Approvers</th>
        <th></th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>
                {% for approver in object.ordered_approvers %}
                    <span class="label label-info">{{ approver }}</span>
                {% endfor %}
            </td>
            <td>
                <div class="btn-group">
                    <a href="{% url app:group_edit project=curr_project pk=object.pk %}" class="btn">Edit</a>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url app:group_delete project=curr_project pk=object.pk %}">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}