{% extends 'holiday_manager/base_modal.html' %}

{% block modal_title %}
    {% if create %}
        Create a new group
    {% else %}
        Group "{{ object }}" settings
    {% endif %}
{% endblock %}

{% block modal_body %}
    <script>
        app_vars = {
            formset_prefix: '{{ formset.prefix }}'
        };
    </script>
    {% if not create and not object.is_default %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-main" data-toggle="tab">Edit settings</a></li>
        <li><a href="#tab-advanced" data-toggle="tab">Danger zone</a></li>
    </ul>
    {% endif %}
    <div class="tab-content">
        <div class="tab-pane active" id="tab-main">
            <!--<p class="intro well well-small">-->
            <!--    You can arrange your staff memebers into groups. For each group, you can specify different holidays approval rules.-->
            <!--</p>-->
            <form action="{{ request.path }}" method="post" id="ruleform" class="form-horizontal narrow ajax">{% csrf_token %}
                {% for field in form %}
                    {% include 'bootstrap_form.html' %}
                {% endfor %}
                <h4 class="title titleLineBottom">
                    Group approvers
                    <a class="add-form btn btn-small" href="#"><i class="icon-plus"></i> Add approver</a>
                </h4>
                {{ formset.non_form_errors }}
                <div class="sortable-formset-container">
                    <ul id="rule-formset" class="sortable-formset myform">
                        {% for ruleform in formset %}
                            <li>
                                <span class="position">{{ forloop.counter }}</span>
                                <span class="handle"></span>
                                {{ ruleform.errors }}
                                {{ ruleform.id }}
                                {{ ruleform.approver }}
                                {{ ruleform.order }}
                                {{ ruleform.DELETE }}
                                Delete
                            </li>
                        {% endfor %}
                    </ul>
                    
                    <div id="empty-form-template" style="display: none;">
                        <li>
                            <span class="position"></span>
                            <span class="handle"></span>
                            {{ empty_form.id }}
                            {{ empty_form.approver }}
                            {{ empty_form.order }}
                            {{ empty_form.DELETE }}
                            Remove
                        </li>
                    </div>
                    
                    {{ formset.management_form }}
                </div>
            </form>
        </div>
        {% if not create and not object.is_default %}
            <div class="tab-pane" id="tab-advanced">
                <h4>Delete this group</h4>
                <p>
                    If you delete this group, all members will be assigned to the default group.
                    Note that all the pending holiday from memebrs of this group requests will sill use this group rules.
                </p>
                <p>
                    <a class="btn btn-danger delete-group" href="{% url app:group_delete pk=form.instance.pk project=curr_project %}"><i class="icon-remove"></i> Delete this group</a>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block modal_footer %}
    <div class="form-actions">
        <button class="btn" data-action="close">Close</button>
        <button type="submit" class="btn btn-primary save">Save changes</button>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(".sortable-formset .select2").select2();
        $(".sortable-formset").sortable({
            update: function(e, ui) {
                var position = 1;
                $('.sortable-formset li').each(function() {
                    var $li = $(this);
                    if ($('select', $li).val() && !$(':checkbox', $li).is(':checked')) {
                        $('.position', $li).text(position);
                        position++;    
                    }
                });
            }
        });
        
        $('.sortable-formset > li').formset({
            prefix: '{{ formset.prefix }}',
            formTemplate: $('#empty-form-template'),
            fieldsetContainer: '.sortable-formset',
            beforeRender: function(row, form_count) {
                $(".select2", row).select2();
                $(".position", row).text(form_count + 1);
                return row;
            }
        });
        
        $('#ruleform').submit(function(e) {
            e.preventDefault();
            var self = this;
            var position = 0;
            $('.sortable-formset li', this).each(function() {
                var $li = $(this);
                if ($('select', $li).val() && !$(':checkbox', $li).is(':checked')) {
                    $('.order', $li).val(position);
                    position++;    
                }
            });
            self.submit();
        });
    </script>
{% endblock %}