{% extends 'holiday_manager/base_page.html' %}

{% block header %}
    <header class="page-head row">
        <div class="span10">
            <h4 class="title thin title-icon title-icon-small"><i class="icon-dashboard"></i> Dashboard</h4>
        </div>
    </header>
    
{% endblock %}

{% block pagecontent %}
    <!--<p><strong>Your days off left:</strong> {{ user.days_off_left }}</p>-->
    <div class="row">
        <div class="span6">
        
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-star"></i>
                    <h3>Quick Stats</h3>
                </div> <!-- /widget-header -->
                
                <div class="widget-content">
                    <div class="stats">
                        
                        <div class="stat">
                            <span class="stat-value">12,386</span>									
                            Site Visits
                        </div> <!-- /stat -->
                        
                        <div class="stat">
                            <span class="stat-value">9,249</span>									
                            Unique Visits
                        </div> <!-- /stat -->
                        
                        <div class="stat">
                            <span class="stat-value">70%</span>									
                            New Visits
                        </div> <!-- /stat -->
                        
                    </div> <!-- /stats -->
                    
                    
                    <div class="stats" id="chart-stats">
                        <div style="margin-bottom: 9px;" class="progress progress-info">
                            <div style="width: 20%" class="bar"></div>
                        </div>
                        
                    </div> <!-- /substats -->
                    
                </div> <!-- /widget-content -->
                    
            </div>
        
            
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <i class="icon-list-alt"></i>
                    <h3>Recent News</h3>
                </div> <!-- /widget-header -->
                
                <div class="widget-content">
                    
                    <ul class="news-items">
                        <li>
                            
                            <div class="news-item-detail">										
                                <a class="news-item-title" href="javascript:;">Duis aute irure dolor in reprehenderit</a>
                                <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                            
                            <div class="news-item-date">
                                <span class="news-item-day">08</span>
                                <span class="news-item-month">Mar</span>
                            </div>
                        </li>
                        <li>
                            <div class="news-item-detail">										
                                <a class="news-item-title" href="javascript:;">Duis aute irure dolor in reprehenderit</a>
                                <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                            
                            <div class="news-item-date">
                                <span class="news-item-day">08</span>
                                <span class="news-item-month">Mar</span>
                            </div>
                        </li>
                        <li>
                            <div class="news-item-detail">										
                                <a class="news-item-title" href="javascript:;">Duis aute irure dolor in reprehenderit</a>
                                <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                            
                            <div class="news-item-date">
                                <span class="news-item-day">08</span>
                                <span class="news-item-month">Mar</span>
                            </div>
                        </li>
                    </ul>
                    
                </div> <!-- /widget-content -->
            
            </div>
            
        </div>
        
        <div class="span6">
        
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-bookmark"></i>
                    <h3>Quick Shortcuts</h3>
                </div> <!-- /widget-header -->
                
                <div class="widget-content">
                    <div class="shortcuts">
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-list-alt"></i>
                            <span class="shortcut-label">Apps</span>
                        </a>
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-bookmark"></i>
                            <span class="shortcut-label">Bookmarks</span>								
                        </a>
                        
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-signal"></i>
                            <span class="shortcut-label">Reports</span>	
                        </a>
                        
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-comment"></i>
                            <span class="shortcut-label">Comments</span>								
                        </a>
                        
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-user"></i>
                            <span class="shortcut-label">Users</span>
                        </a>
                        
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-file"></i>
                            <span class="shortcut-label">Notes</span>	
                        </a>
                        
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-picture"></i>
                            <span class="shortcut-label">Photos</span>	
                        </a>
                        
                        <a class="shortcut" href="javascript:;">
                            <i class="shortcut-icon icon-tag"></i>
                            <span class="shortcut-label">Tags</span>
                        </a>				
                    </div> <!-- /shortcuts -->	
                </div> <!-- /widget-content -->
            </div>
            
            
        
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-bookmark"></i>
                    <h3>Quick Shortcuts</h3>
                </div> <!-- /widget-header -->
                
                <div class="widget-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta accumsan turpis, in viverra ipsum convallis ut. Sed mauris eros, vulputate vitae mollis ac, ullamcorper non est. Maecenas eros urna, feugiat non accumsan at, rhoncus at erat. Donec eget rutrum lacus. Nulla mollis pharetra enim id egestas. Vivamus gravida sapien pulvinar magna ullamcorper aliquet. Nunc feugiat lorem in sapien volutpat rutrum.
                </div> <!-- /widget-content -->
            </div>
        </div>
        
    </div>
    
{% endblock %}