{% extends 'holiday_manager/base.html' %}

{% block content %}
    
<h4>You holiday requests</h4>

<ul class="nav nav-tabs">
    <li class="{% if kind == 'all' %}active{% endif %}">
        <a href="{% url user-request-list kind='all' %}">Pending</a>
    </li>
    <li class="{% if kind == 'approved' %}active{% endif %}">
        <a href="{% url user-request-list kind='approved' %}">Approved</a>
    </li>
    <li class="{% if kind == 'archived' %}active{% endif %}">
        <a href="{% url user-request-list kind='archived' %}">Archived</a>
    </li>
</ul>

<table class="table table-striped">
    <tr>
        <th>Requested on</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>{{ object.requested_on }}</td>
            <td>{{ object.start_date }}</td>
            <td>{{ object.end_date }}</td>
            <td>{{ object.status }}</td>
            <td>
                {% if object.is_cancellable %}
                <form action="{% url user-cancel-request pk=object.pk %}" method="post">{% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}