{% extends 'holiday_manager/base.html' %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="{% if kind == 'all' %}active{% endif %}">
        <a href="{% url user-request-list kind='all' %}">Pending</a>
    </li>
    <li class="{% if kind == 'approved' %}active{% endif %}">
        <a href="{% url user-request-list kind='approved' %}">Approved</a>
    </li>
    <li class="{% if kind == 'archived' %}active{% endif %}">
        <a href="{% url user-request-list kind='archived' %}">Archived</a>
    </li>
</ul>

<table class="table table-striped">
    <tr>
        <th>Requested on</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>{{ object.requested_on }}</td>
            <td>{{ object.start_date }}</td>
            <td>{{ object.end_date }}</td>
            <td>{{ object.status }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}