{% extends 'holiday_manager/base.html' %}

{% block content %}
    <header class="page-head row">
        <div class="span10">
            <h4 class="title title-icon icon-small"><i class="icon-wrench"></i> Settings</h4>
        </div>
    </header>
    
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{% url app:holiday_weekly curr_project %}">General</a>
        </li>
        <li class="{% if list_kind == 'pending' %}active{% endif %}">
            <a href="{% url app:holiday_weekly project=curr_project kind='pending' %}">Google Calendar</a>
        </li>
    </ul>
    
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn">Cancel</button>
        </div>
    </form>
{% endblock %}