{% extends ajax_partials|yesno:"holiday_manager/tabbed_page_ajax.html,holiday_manager/tabbed_page_widgets.html" %}

{% block tabtitle %}<i class="icon-user"></i> <i class="icon-wrench"></i> Settings{% endblock %}

{% block subtabnav %}
    {% include 'partials/project_settings_nav.html' %}
{% endblock %}


{% block tabcontent %}
    <form action="{{ request.path }}" method="post" class="form-horizontal ajax">{% csrf_token %}
        {% for field in form %}
            {% include 'bootstrap_form.html' %}
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn">Cancel</button>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script>
        $(':input').focus(function(e) {
            $help = $(this).siblings('.help-icon');
            if ($help.length) {
                $help.clickover('clickery');
            } else {
                $('[data-clickover-open=1]').each( function() { 
                    $(this).data('clickover') && $(this).data('clickover').clickery();
                });
            }
        });
        $('.help-icon').clickover({
            template: '<div class="popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'
        });    
    </script>
{% endblock %}