{% extends 'holiday_manager/base_page.html' %}
{% load webdesign %}

{% block pagecontent %}
    <div class="row-fluid">
        <div class="span12">
            <div class="tab-header cf">
                {% block tabheader %}{% endblock %}
            </div>
            {% block tabheadernav %}{% endblock %}
            {% block subtabnav %}{% endblock %}
            <div class="tab-content">
                {% block tabcontent %}{% endblock %}
            </div>
            <div id="tab-overlay"></div>
        </div>
    </div>
{% endblock %}