{% extends 'holiday_manager/base_page.html' %}
{% load webdesign %}

{% block pagecontent %}
    <div class="row">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    {% block tabheader %}{% endblock %}
                    {% block tabheadernav %}{% endblock %}
                </div>
                <div class="widget-content {% block widgetclass %}{% endblock %}">
                    {% block subtabnav %}{% endblock %}
                    <div class="tab-content">
                        {% block tabcontent %}{% endblock %}
                    </div>
                    <div id="tab-overlay"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}