{% extends 'holiday_manager/base.html' %}

{% block content %}
    
    {% block tabhead %}
    <header class="page-head row">
        <div class="span12">
            <h4 class="title title-icon icon-small">{% block tabtitle %}{% endblock %}</h4>
        </div>
    </header>
    {% endblock %}
    
    {% block subtabnav %}{% endblock %}
    
    {% block messages %}{% endblock %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    
    {% block tabcontent %}{% endblock %}
    
{% endblock %}