{% extends ajax_partials|yesno:"holiday_manager/tabbed_page_ajax.html,holiday_manager/tabbed_page.html" %}
{% load pagination_tags %}

{% block tabheader %}
    <h3 class="">Your Staff</h3>
    <form class="search form-inline" action="" method="get">
        {{ filterform.name }}
        <button type="submit" class="btn">Search</button>
    </form>
    <nav>
        <ul>
            <li>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        With selected... <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Assign to team...</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{% url app:invites:invite curr_project %}" class="btn btn-primary invite-user">Add a new member</a>
                <a href="#" class="btn">Create new group...</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body_class %}staff-view{% endblock %}

{% block tabcontent %}

{% for team, users in object_list %}
<div class="user-group cf" id="group-{{ team.pk }}">
    <div class="group-header cf">
        <h3 class="show-all">{{ team }} <span>({{ team.user_set.count }})</span></h3>
        <ul class="cf">
            <li><a href="{% url app:group_edit project=curr_project pk=team.pk %}" class="ajax">Edit group settings</a></li>
            <li><a href="#" class="clear-selection">Clear selection</a></li>
        </ul>
    </div>
    <ul class="user-list cf collapsed">
        {% for object in users %}
            <li class="row cf">
                <div class="check"><input type="checkbox" /></div>
                <div class="pic">
                    <!--<img src="{{ STATIC_URL }}img/missing_pic.gif">-->
                    <div class="wrap">
                        <a href="{% url app:user_detail project=curr_project pk=object.pk %}" class="user-details">
                            <img src="http://flickholdr.com/50/50/{{ object.pk }}">
                        </a>
                    </div>
                    <div class="percentage">
                        <div class="progress">
                            <div class="bar" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <p class="name">{{ object }}</p>
                    <p class="team">{{ object.approval_group.name }}</p>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon icon-cog"></i>
                            Actions
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url app:user_detail project=curr_project pk=object.pk %}" class="user-details">Detail</a></li>
                                <li><a href="{% url app:user_edit project=curr_project pk=object.pk %}" data-display="dialog" data-dialog-view="EditUserModalView" data-dialog-target="#edit-user-modal">Edit</a></li>
                                {% if not object.is_active %}
                                <li>
                                    <form action="{% url app:invites:resend_invitation project=curr_project pk=object.pk %}" method="post">{% csrf_token %}
                                        <button type="submit" class="btn btn-mini">Resend invite</button>
                                    </form>
                                </li>
                                {% endif %}
                                <li>
                                    <a class="" href="{% url app:login_as pk=object.pk project=curr_project %}">Login as</a>
                                </li>
                                <li>
                                    <!--<form action="{% url app:user_delete pk=object.pk project=curr_project %}" method="post">{% csrf_token %}-->
                                        <a class="" href="#">Delete</a>
                                        <!--<button type="submit" class="">Delete</button>-->
                                    <!--</form>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="group-footer">
        <a class="show-all collapsed btn" data-text-less="Show less" data-text-more="Show all" data-group-id="{{ team.pk }}">Show all</a>
    </div>
</div>
{% endfor %}

<div id="invite-user-modal" class="modal hide fade" role="dialog" data-reload-url="{{ request.path }}">
    <div class="modal-header">
        <h3 id="myModalLabel"></h3>
    </div>
    <div class="modal-body">
    <p>Loading…</p>
    </div>
    <!--<div class="modal-footer"></div>-->
    <div class="modal-loader"></div>
</div>

<div id="edit-user-modal" class="modal hide fade" role="dialog" data-reload-url="{{ request.path }}">
    <div class="modal-header">
        <h3 id="myModalLabel"></h3>
    </div>
    <div class="modal-body">
    <p>Loading…</p>
    </div>
    <!--<div class="modal-footer"></div>-->
    <div class="modal-loader"></div>
</div>


<div id="myModal" class="modal hide fade user-detail-view" role="dialog">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script>
        var app_urls = {
            root: '{% url app:user_list curr_project %}/',
            invite: '{% url app:invites:invite curr_project %}'
        };
    </script>
    <script src="{{ STATIC_URL }}shared/js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}shared/js/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}app/js/invites.js"></script>
    <script>
        $('.show-all').click(function(e) {
            var $this = $(this);
            e.preventDefault();
            $this.toggleClass('collapsed');
            $this.parent().siblings('.user-list').toggleClass('collapsed').toggleClass('expanded');
            $this.text($this.hasClass('collapsed') ? $this.data('text-more') : $this.data('text-less'));
            var expanded = localStorage['expanded_groups'] ? JSON.parse(localStorage['expanded_groups']) : [];
            var group_id = $this.data('group-id');
            if ($this.hasClass('collapsed')) {
                expanded = _.without(expanded, group_id);
            } else {
                expanded.push(group_id);
            }
            localStorage['expanded_groups'] = JSON.stringify(expanded);
            console.log(JSON.parse(localStorage['expanded_groups']));
        });
         $('.user-group h3').click(function(e) {
            $(this).siblings('.user-list').toggleClass('collapsed').toggleClass('expanded');
        });
        $('.check :checkbox').click(function(e) {
            $(this).closest('li').toggleClass('selected');
        });
        $('.user-group').hover(function(e) {
            $(this).find('.group-footer').slideToggle('fast');
        });
        
        $('.user-details').click(function(e) {
            e.preventDefault();
            modal = new Modal($('#myModal'), {
                backdrop: true,
                ajax: {
                    url: $(this).attr('href'),
                }
            });
            modal.show();
        });
        
        var expanded = localStorage['expanded_groups'] ? JSON.parse(localStorage['expanded_groups']) : [];
        _.each(expanded, function(val) {
            $('#group-' + val).find('.user-list').removeClass('collapsed').addClass('expanded');
            $('#group-' + val).find('.show-all').removeClass('collapsed');
        });
        
    </script>
{% endblock %}