{% extends ajax_partials|yesno:"holiday_manager/tabbed_page_ajax.html,holiday_manager/tabbed_page.html" %}
{% load pagination_tags %}

{% block tabheader %}
    <h3 class="">Your Staff</h3>
    <nav>
        <ul>
            <li>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        With selected... <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Assign to team...</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="btn btn-success">Add a new member</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block widgetclass %}staff-view{% endblock %}

{% block tabcontent %}

{% autopaginate object_list 30 %}

<ul class="user-list cf">
    {% for object in object_list %}
        <li class="row cf">
            <div class="pic">
                <!--<img src="{{ STATIC_URL }}img/missing_pic.gif">-->
                <div class="wrap">
                    <img src="http://flickholdr.com/60/60/{{ forloop.counter }}">
                </div>
                <div class="percentage">
                    <div class="progress">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
            <div class="info">
                <p class="name">{{ object }}</p>
                <p class="team">{{ object.approval_group.name }}</p>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon icon-cog"></i>
                        Actions
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url app:user_edit project=curr_project pk=object.pk %}" class="ajax">Edit</a></li>
                            {% if not object.is_active %}
                            <li>
                                <form action="{% url app:invites:resend_invitation project=curr_project pk=object.pk %}" method="post">{% csrf_token %}
                                    <button type="submit" class="btn btn-mini">Resend invite</button>
                                </form>
                            </li>
                            {% endif %}
                            <li>
                                <a class="" href="{% url app:login_as pk=object.pk project=curr_project %}">Login as</a>
                            </li>
                            <li>
                                <!--<form action="{% url app:user_delete pk=object.pk project=curr_project %}" method="post">{% csrf_token %}-->
                                    <a class="" href="#">Delete</a>
                                    <!--<button type="submit" class="">Delete</button>-->
                                <!--</form>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% paginate %}

{% comment %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
            </th>
            <th>Name</th>
            <th>Days off</th>
            <th>Is active</th>
            <th>Is staff</th>
            <th>Approval group</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="ajax" href="{% url app:user_edit project=curr_project pk=object.pk %}">{{ object }}</a></td>
            <td>
                {{ object.days_off_left }}
            </td>
            <td>
                {{ object.is_active|yesno }}
            </td>
            <td>{{ object.is_staff|yesno}}</td>
            <td>{{ object.approval_group.name }}</td>
            <td class="action">
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon icon-cog"></i>
                    Action
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url app:user_edit project=curr_project pk=object.pk %}" class="">Edit</a></li>
                        {% if not object.is_active %}
                        <li>
                            <form action="{% url app:invites:resend_invitation project=curr_project pk=object.pk %}" method="post">{% csrf_token %}
                                <button type="submit" class="btn btn-mini">Resend invite</button>
                            </form>
                        </li>
                        {% endif %}
                        <li>
                            <a class="" href="{% url app:login_as pk=object.pk project=curr_project %}">Login as</a>
                        </li>
                        <li>
                            <!--<form action="{% url app:user_delete pk=object.pk project=curr_project %}" method="post">{% csrf_token %}-->
                                <a class="" href="#">Delete</a>
                                <!--<button type="submit" class="">Delete</button>-->
                            <!--</form>-->
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
{% paginate %}
{% endcomment %}

{% endblock %}