<div id="modal-header">
    <h3>{{ object }} <span class="thin">({{ object.approval_group }})</span></h3>
</div>

<div id="modal-body">
    <div class="cf">
        <div class="pic">
            <img src="http://flickholdr.com/70/70/3">
        </div>
        <div class="info">
            <dl class="dl-horizontal">
                <dt>Days off left</dt>
                <dd>{{ object.days_off_left }}</dd>
                <dt>Email</dt>
                <dd>{{ object.email }}</dd>
                <dt>Last login</dt>
                <dd>{{ object.last_login }}</dd>
                <dt>Joined on</dt>
                <dd>{{ object.date_joined }}</dd>
            </dl>
        </div>
    </div>
    <table class="last-requests table table-striped">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Status</th>
        </tr>
        {% for request in last_requests %}
            <tr>
                <td>{{ request.start_date }}</td>
                <td>{{ request.end_date }}</td>
                <td>{{ request.status }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="modal-footer">
    <button type="button" class="btn cancel">Close</button>
</div>
